@font-face {
  font-family: Quicksand;
  src: url("../fonts/Quicksand-Regular.otf"); }

h1, p {
  margin: 0;
  padding: 0; }

.listView {
  width: 90%;
  margin: auto; }

.placesViewContainer {
  width: 100%; }

.placeListItem {
  display: flex;
  height: 8em;
  align-items: center;
  border: 1px solid black;
  background-color: white; }
  .placeListItem h1 {
    font-family: Quicksand;
    width: 40%; }
  .placeListItem p {
    width: 25%; }
  .placeListItem img {
    width: 90%;
    position: absolute;
    top: 0;
    left: 0; }
  .placeListItem .thumbnailContainer {
    width: 10em;
    position: relative; }
  .placeListItem .paddingTrickDiv {
    padding-top: 75%; }

.modal-content {
  width: 100%; }

.modal-dialog-centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - (.5rem * 2)); }

@media (min-width: 576px) {
  .modal-dialog-centered {
    min-height: calc(100% - (1.75rem * 2)); } }

/*
  Thumbnail preview
  */
.diveSites {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .diveSites .site {
    width: 33.33%;
    position: relative;
    color: white; }
    .diveSites .site:not(.comingSoon) {
      cursor: pointer; }

.islandImage {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  font-family: 'object-fit: contain;';
  display: block;
  font-size: 0; }

.paddingTrick {
  padding-top: 75%; }

.darkeningOverlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 0.7s; }

.siteTextOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 1em;
  z-index: 2; }
  .siteTextOverlay h1 {
    text-align: center;
    margin-bottom: 0.35em;
    letter-spacing: 0; }
  .siteTextOverlay p {
    color: white;
    text-align: center;
    margin: auto;
    width: 60%; }

header {
  position: relative; }

.standardHeaderContainer {
  position: relative; }
  .standardHeaderContainer .standardHeaderOverlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1; }

.standardHeaderOverlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1; }

.heading {
  width: 100%;
  position: relative; }
  .heading .content {
    display: flex;
    flex-direction: column;
    pointer-events: none; }
    .heading .content .articles {
      flex-grow: 1;
      width: 100%;
      display: flex;
      color: white;
      pointer-events: none; }
      .heading .content .articles article {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1; }
        .heading .content .articles article .clickThrough {
          text-align: center; }
          .heading .content .articles article .clickThrough p {
            margin-top: 0.5em; }
          .heading .content .articles article .clickThrough .btn {
            margin-top: 0.93em;
            pointer-events: all; }
  .heading .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg); }
  .heading i {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 0.5em;
    margin-bottom: 3px; }
  .heading img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    font-family: 'object-fit: contain;'; }
  .heading .imagePlaceholder {
    height: 100vh; }
  .heading .diagonalOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background: blue;
    background: linear-gradient(-67.5deg, blue 50%, yellow 50%); }
  .heading .content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
    .heading .content nav {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      height: 5em;
      font-family: Quicksand;
      font-size: 0.8em;
      color: white;
      pointer-events: all;
      white-space: nowrap;
      z-index: 100; }
  .heading ul.menu {
    display: relative;
    margin-right: 10em; }
    .heading ul.menu a {
      text-decoration: none;
      color: white; }
    .heading ul.menu > li:not(:last-child) {
      margin-right: 2em; }
  .heading li {
    display: inline-block;
    text-transform: uppercase; }
    .heading li ul {
      padding: 0;
      margin: 0;
      position: absolute;
      display: none; }
      .heading li ul li {
        display: block;
        margin-top: 1em; }

.articleCentered article {
  position: relative;
  transform: none;
  top: unset;
  left: unset; }
  .articleCentered article p {
    width: 60%;
    margin: auto; }

article {
  font-size: initial;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  pointer-events: none;
  z-index: 1;
  margin-left: 1em;
  margin-right: 1em; }

.navContainer {
  font-size: initial; }
