$darkGreen: rgba(16, 70, 48, 1);
$darkGreenTransparent: rgba(16, 70, 48, 0.7);
$darkPurple: rgba(47, 28, 80, 1);
$darkPurpleTransparent: rgba(47, 28, 80, 0.7);
$darkBlue: rgba(23, 18, 62, 1);
$lightGreen: rgba(56, 213, 39, 1);
$lightGreenTransparent: rgba(56, 213, 39, 0.7);
$bannerButtonCol: rgba(26, 11, 55, 1);
$bannerButtonColTransparent: rgba(26, 11, 55, 0.7);
$lightRed: rgba(299, 67, 67, 1);
$lightRedTransparent: rgba(299, 67, 67, 0.7);

@font-face {
    font-family: Quicksand;
    src: url('../fonts/Quicksand-Regular.otf');
}

$quickSandFont: Quicksand;

h1, p {
    margin: 0;
    padding: 0;
}

.listView {
    width: 90%;
    margin: auto;
}

.placesViewContainer {
    width: 100%;
}

.placeListItem {
    display: flex;
    height: 8em;
    align-items: center;
    border: 1px solid black;
    background-color: white;
    
    h1 {
        font-family: Quicksand;
        width: 40%;
    }

    p {
        width: 25%;        
    }

    img {
        width: 90%;
        position: absolute;
        top: 0;
        left: 0;
    }

    .thumbnailContainer {
        width: 10em;
        position: relative;
    }

    .paddingTrickDiv {
        padding-top: 75%;
    }
}

.modal-content {
    width:100%;
  }
  
  .modal-dialog-centered {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    min-height:calc(100% - (.5rem * 2));
  }
  
  @media (min-width: 576px) {
    .modal-dialog-centered {
      min-height:calc(100% - (1.75rem * 2));
    }
  }



  /*
  Thumbnail preview
  */
  .diveSites {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .site {
        width: 33.33%;
        &:not(.comingSoon) {
            cursor: pointer;
        }
        // padding-top: 24.99%;
        position: relative;
        // margin: -1px;            // This caused problems with width of container.
        color: white;
    }
    
}

.islandImage {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    font-family: 'object-fit: contain;';
    display: block;
    font-size: 0;
}

.paddingTrick {
    padding-top: 75%;
}

.darkeningOverlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    transition: all 0.7s;
}

.siteTextOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 1em;
    z-index: 2;

    h1 {
        text-align: center;
        margin-bottom: 0.35em;
        letter-spacing: 0;
    }

    p {
        color: white;
        text-align: center;
        margin: auto;
        width: 60%;
    }
}

header {
    position: relative;
}

.standardHeaderContainer {
    position: relative;

    .standardHeaderOverlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        // background-color: green;
        z-index: 1;
    }
}

.standardHeaderOverlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    // background-color: green;
    z-index: 1;
}

.heading {

    .content {
        display: flex;
        flex-direction: column;
        pointer-events: none;
        .articles {
            flex-grow: 1;
            width: 100%;
            display: flex;
            color: white;
            pointer-events: none;
            article {
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 1;
                // width: 70%;

                .clickThrough {
                    // height: 100px;
                    // width: 70%;
                    text-align: center;

                    p {
                        margin-top: 0.5em;
                    }

                    .btn {
                        margin-top: 0.93em;
                        pointer-events: all;
                    }
                }
            }
        }
    }

    .down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }

    i {
        border: solid white;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        margin-left: 0.5em;
        margin-bottom: 3px;
    }

    width: 100%;
    position: relative;

    img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
        font-family: 'object-fit: contain;';
    }

    .imagePlaceholder {
        height: 100vh;
    }

    .diagonalOverlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        background: blue;
        background: linear-gradient(-67.5deg, blue 50%, yellow 50%);
    }

    .content {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        
        nav {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;
            height: 5em;
            font-family: $quickSandFont;
            font-size: 0.8em;
            color: white;
            pointer-events: all;
            white-space: nowrap;
            z-index: 100;
        }
    }

    ul.menu {
        display: relative;
        margin-right: 10em;
        a {
            text-decoration: none;
            color: white;
        }

        > li:not(:last-child) {
            margin-right: 2em;
        }
    }

    li.subMenu:hover {
        ul {
        //    display: block;
        }
    }

    li {
        display: inline-block;
        text-transform: uppercase;

        ul {
            padding: 0;
            margin: 0;
            position: absolute;
            display: none;
            li {
                display: block;
                margin-top: 1em;
            }

        }
    }
}

.articleCentered article {
    position: relative;
    transform: none;
    top: unset;
    left: unset;

    p {
        width: 60%;
        margin: auto;
    }
}

article {
    font-size: initial;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    pointer-events: none;
    z-index: 1;
    margin-left: 1em;
    margin-right: 1em;
}

.navContainer {
    font-size: initial;
}