/**** Variables *****/
$darkGreen: rgba(16, 70, 48, 1);
$darkGreenTransparent: rgba(16, 70, 48, 0.7);
$darkPurple: rgba(47, 28, 80, 1);
$darkPurpleTransparent: rgba(47, 28, 80, 0.7);
$darkBlue: rgba(23, 18, 62, 1);
$lightGreen: rgba(56, 213, 39, 1);
$lightGreenTransparent: rgba(56, 213, 39, 0.7);
$bannerButtonCol: rgba(26, 11, 55, 1);
$bannerButtonColTransparent: rgba(26, 11, 55, 0.7);
$lightRed: rgba(299, 67, 67, 1);
$lightRedTransparent: rgba(299, 67, 67, 0.7);

/****************************************** Fonts ******************************************/
@font-face {
    font-family: Quicksand;
    src: url('../fonts/Quicksand-Regular.otf');
}

.navFixed {
    position: fixed !important;
}

$quickSandFont: Quicksand;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
}

.btn {
    margin-left: 0.5em !important;
    margin-right: 0.5em !important;
    margin-top: 0.93em;
}

#searchButton {
    margin-top: 0;
}

/* Banner */
.banner {
    background-color: $darkBlue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5em;

    .btn {
        margin-left: 1em !important;
        margin-right: 1em !important;
        font-family: $quickSandFont;
    }
}

.textColorWhite {
    color: white !important;
}

.textColorBlack {
    color: black;
}

.textColorYellow {
    color: yellow;
}

.backgroundColorDarkBlue {
    background-color: $darkBlue;

}

.greatLocations.standardCenteredSection h2{
    color: white;
}

.subscribeArea .standardCenteredSection h2 {
    color: white;
}

/****************************************** Universal ******************************************/
h1.largeHeader {
    margin: 0;
    padding: 0;
    font-family: $quickSandFont;
    text-transform: uppercase;
    // color: white;               // Should probably be custom rather than here
    letter-spacing: 0.07em;
    font-weight: 100;
    font-size: 2em;
}

h2.mediumHeader {
    margin: 0;
    padding: 0;
    font-family: $quickSandFont;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 1.5em;
}

h3.smallHeader {
    margin: 0;
    padding: 0;
    font-family: $quickSandFont;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 1em;
}

.standardSectionText {
    padding: 0;
    margin: 0;
    font-family: $quickSandFont;
    font-size: 0.9em;
    letter-spacing: 0.04em;
}

.btn {
    color: white;
    text-decoration: none;
    display: inline-block;
    border-radius: 7px;
    padding: 7px;
    padding-left: 16px;
    padding-right: 16px;
    font-family: $quickSandFont;
    font-size: 0.78em;
    transition: background-color 1s;
    pointer-events: all;

    &.btn-green {
        background-color: $darkGreen;
    }

    &.btn-green:hover {
        background-color: $darkGreenTransparent;
    }

    &.btn-purple {
        background-color: $darkPurple;
    }

    &.btn-purple:hover {
        background-color: $darkPurpleTransparent;
    }

    &.btn-light-green {
        background-color: $lightGreen;
    }

    &.btn-light-green:hover {
        background-color: $lightGreenTransparent;
    }

    &.btn-dark-blue {
        background-color: $bannerButtonCol;
    }

    &.btn-dark-blue:hover {
        background-color: $bannerButtonColTransparent;
    }

    &.btn-light-red {
        background-color: $lightRed;
    }

    &.btn-light-red:hover {
        background-color: $lightRedTransparent;
    }
}


.sectionLink {
    text-decoration: none;
    border-bottom: dotted 1px white;
    color: white;
}

/******************************************* Heading *******************************************/
.heading {

    .content {
        display: flex;
        flex-direction: column;
        pointer-events: none;
        .articles {
            flex-grow: 1;
            width: 100%;
            display: flex;
            color: white;
            pointer-events: none;
            article {
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 1;
                // width: 70%;

                .clickThrough {
                    // height: 100px;
                    // width: 70%;
                    text-align: center;

                    p {
                        margin-top: 0.5em;
                    }

                    .btn {
                        margin-top: 0.93em;
                        pointer-events: all;
                    }
                }
            }
        }
    }

    .down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }

    i {
        border: solid white;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        margin-left: 0.5em;
        margin-bottom: 3px;
    }

    width: 100%;
    position: relative;

    img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
        font-family: 'object-fit: contain;';
    }

    .imagePlaceholder {
        height: 100vh;
    }

    .diagonalOverlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        background: blue;
        background: linear-gradient(-67.5deg, blue 50%, yellow 50%);
    }

    .content {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        
        .mainNav {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;
            height: 5em;
            font-family: $quickSandFont;
            font-size: 0.8em;
            color: white;
            pointer-events: all;
            white-space: nowrap;
            z-index: 100;
        }
    }

    ul.menu {
        display: relative;
        margin-right: 10em;
        a {
            text-decoration: none;
            color: white;
        }

        > li:not(:last-child) {
            margin-right: 2em;
        }
    }

    li.subMenu:hover {
        ul {
        //    display: block;
        }
    }

    li {
        display: inline-block;
        text-transform: uppercase;

        ul {
            padding: 0;
            margin: 0;
            position: absolute;
            display: none;
            li {
                display: block;
                margin-top: 1em;
            }

        }
    }
}

/******************************************* Best Dive Spots *******************************************/
.bestDiveSpots, .whoAreWe {
    text-align: center;
    padding: 2em;
    padding-bottom: 0;
    
    h2 {
        color: black;
        text-transform: uppercase;
    }

    p {
        margin-top: 1em;
        margin-bottom: 1em;
        display: inline-block;
        width: 60%;
    }
}

/* Standard centered section */
.standardCenteredSection {
    text-align: center;
    padding: 2em;
    
    h2 {
        color: black;
        text-transform: uppercase;
    }

    p {
        margin-top: 1em;
        margin-bottom: 1em;
        display: inline-block;
        width: 60%;
    }
}

/* End standard centered section */

/******************************************* Locations and News *******************************************/
.locations, .databaseAndExplore {
    background-color: $darkBlue;
    color: white;
    display: flex;
    padding-top: 3.2em;
    padding-bottom: 3.2em;
    clear: both;

    .btn {
        margin-top: 0.93em;
        margin-right: 0.93em;
    }

    h2 {
        margin-bottom: 0.5em;
    }

    .sectionLink {
        color: white;
        border-color: white;
    }

    .database {
        display: flex;
        justify-content: flex-start;
        flex: 1;

        section {
            text-align: left;
            height: 50%;
            width: 95%;
            margin-left: 16em;
        
            p.standardSectionText {
                width: 85%;
            }
        }
    }

    .explore {
        display: flex;
        justify-content: flex-end;
        flex: 1;

        section {
            text-align: left;
            height: 50%;
            width: 80%;
            margin-right: 16em;

            p.standardSectionText {
                width: 85%;
            }
        }  
    }
}



.locations {
    text-align: center;
    display: block;

}
.searchPrompt {
    text-align: center;
    background-color: $darkBlue;
    padding-left: 1em;
    padding-right: 1em;
    color: white;

    p {
    
        // color: yellow;
        display: inline-block;
        width: 50%;
        margin-top: 1em;
    }
}

.searchControls {
    background-color: $darkBlue;
    text-align: center;

    form {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.5em;

        input {
            padding-left: 10px;
            height: 28px;
            font-family: $quickSandFont;
        }

        select {
            font-family: $quickSandFont;
        }

        input::placeholder {
            color: black;
        }
    }
}

.diveSites {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;

    .site {
        width: 33.33%;
        &:not(.comingSoon) {
            cursor: pointer;
        }
        // padding-top: 24.99%;
        // position: relative;
        // margin: -1px;            // This caused problems with width of container.
        color: white;
    }
    
}

/* Select Control */


.selectdiv {
    display: inline-block;
    position: relative;
    height: 100%;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

/* Remove button from IE11 */
select::-ms-expand {
    display: none;
}

.selectdiv:after {
    content: '\A';
    border-style: solid;
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    left: calc(100% - 15px);
    transform: rotate(45deg) translateX(-100%);
    -webkit-transform: rotate(45deg) translateX(-100%);
    top: calc(100% - 15px);
    position: absolute;
    pointer-events: none;
}


.selectdiv select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    height: 100%;
    float: right;
    padding: 0px 10px;
    padding-right: 30px;
    border: none;
    border-radius: 0;
    font-size: 16px;
    line-height: 1.75;
    color: #333;
    background-color: #ffffff;
    background-image: none;
    -ms-word-break: normal;
    word-break: normal;

    height: 30px;
}

.branding {
    z-index: 1;
    a {
        display: block;
    }
}


/* About Page */
section.video {
    position: relative;
    margin-bottom: 2em;
    background-color: white;
    text-align: center;

    video {
        width: 100%;
        height: auto;
    }
}

.islands {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: relative;

    .island {
        width: 33.33%;
        padding-top: 24.99%;
        background-color: red;
        border: 1px solid black;
    }
}

/* Footer */
footer {
    font-family: $quickSandFont;
    clear: both;

    #createdBy {
        font-style: normal;
        font-family: $quickSandFont;
        margin-top: 0.5em;
        
    }

    padding: 3em;
    color: white;
    background-color: rgb(50, 122, 93);

    input {
        display: block;
    }


    .footerContent {
         display: flex;
    }

    .left {
        width: 50%;
    }

    .right {
        width: 50%;
        text-align: right;
        margin-right: 9em;

        .email {
            text-transform: lowercase;
        }

        .findOutMore {
            display: inline-block;
            text-align: left;
            
            h1, h2 {
                font-weight: 100;
            }
        }

        .emailUs {
            margin-top: 0.35em;
        }

        .email {
            margin-top: 0.7em;
        }

        .followUs {
            margin-top: 0.7em;
            margin-bottom: 0.7em;
        }

        .signUp {
            margin-top: 0.7em;
        }

        input {
            margin-top: 0.7em;
            &::placeholder {
                color: white;
            }

            &::-webkit-input-placeholder {
                color: white;
            }

            &::-ms-input-placeholder {
                color: white;
            }
        }

        #fullNameField, #emailField {
            background-color: transparent;
            border: none;
            border-bottom: 1px white solid;
            outline: none;
            color: white;
            letter-spacing: 0.07em;
        }

        #submit {
            margin-top: 1.5em;
            background-color: transparent;
            border: none;
            color: white;
            cursor: pointer;
            display: block;
            text-decoration: none;
            text-transform: none;
        }
    }

    .top {
        // margin-left: 9em;
        font-size: 1.4em;
        p {
            margin-top: 1.5em;
            font-style: italic;
            font-size: 1em;
            letter-spacing: 0.1em;
        }
    }

    #trademark {
        margin-top: 6em;
        font-style: normal;
        font-family: $quickSandFont;
    }

    #companyName {
        font-style: italic;
        font-weight: bold;
    }
}

.islandImage {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    font-family: 'object-fit: contain;';
    display: block;
    font-size: 0;
}


.site, .hoverImageContainer {
    // -webkit-backface-visibility: hidden;
    // backface-visibility: hidden;
    // -webkit-font-smoothing: antialiased !important; 
    // font-smoothing: antialiased !important;
    // -webkit-transform: translateZ(0) scale(1.0, 1.0);
    transform: translateZ(0);
}


.siteTextOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 1em;
    z-index: 2;

    h1 {
        text-align: center;
        margin-bottom: 0.35em;
        letter-spacing: 0;
    }

    p {
        color: white;
        text-align: center;
        margin: auto;
        width: 60%;
    }
}

.darkeningOverlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    transition: all 0.7s;
    // z-index: 1;
    // font-size: 0;
}

.darkeningOverlayDarker {
    background-color: rgba(0, 0, 0, 0.7);
}

.diveSites .comingSoon {
    background-color: $darkBlue;
}


/* Dive site page */

.heading img.star, .slick-slide img.star {
    display: inline-block !important;
    margin: 0.2em;
}

.star {
    height: 28px !important;
    width: 28px !important;
}

.slideContainer .stars {
    margin-bottom: 1em;
}

.slideDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.4em;
}

.stars {
    margin-top: 1em;

    text-align: center;
}



.trimImageDiv {
    max-height: 43em;
    overflow: hidden;
}

.trimImageDiv img {
    height: 43em;
    object-fit: cover;
    font-family: 'object-fit: contain;';
}

h1.locationTextHeader {
    text-align: center;
    margin: 1em;
}

p.locationText {
    padding-left: 5em;
    padding-right: 5em;
    text-align: center;
    margin-bottom: 5em;
}

.heading .pageHeadingContent article {
    flex-direction: column;

    .clickThrough {

    }

}

.bottomCrop {
    max-height: 750px; 
    overflow: hidden; 
}

.smallImages {
    display: flex;
    margin: 3em;
    margin-bottom: 10%;
    margin-top: 5%;

    justify-content: space-between;

    img {
        display: block;
    }

    .smallImage {
        background-color:yellow;
        width: 30%;
        // padding-top: 30%;
        position: relative;
        cursor: pointer;
        
        img {
            width: 100%;
            position: absolute;
            height: 100%;
            top: 0;
            object-fit: cover;
            font-family: 'object-fit: contain;';
        }
    }

}

.location {
    margin-left: 11%;
    margin-right: 11%;
}

.topRow {
    width: 85%;
    margin: auto;
}

.diverLevel, .visibility, .depth, .current {
    margin: auto;
    margin-top: 0;
    width: 45% !important;
    // padding-right: 2.5em;
    h1.largeHeader {
        // padding-top: 2em;
        // padding-bottom: 1.2em;
    }
}
.visibilityMeter, .lightLevelContainer {
    // height: 1px;
}

.lightLevelContainer, 
.depth, .current {
    // padding-left: 2.5em;
}

.current {
    // padding-top: 3em;
    h1 {
        white-space: nowrap;
    }
}

.diverLevel, .depth {
    // padding-top: 0.9em;
}

.visibility, .current {
    // padding-top: 3.3em;
}


.diverLevel, .depth {
    height: 20em;
    background: rebeccapurple !important;
    justify-content: space-evenly !important;
}




.diverLevel, .current {
    // padding-top: 3em;
    padding-bottom: 3em;
    background-color: $darkBlue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;

    h1, p {
        color: white;
        text-align: center;
    }

    h1 {
        // margin-bottom: 0.85em;
    }

    p {
        // margin-bottom: 2.9em;
        // width: 85%;
    }



    .lightLevelContainer {
        display: flex;
        color: white;
        flex-direction: column;
        width: 95%;
        
    }

    .lightLevels {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }

    .lightLevel {
        display: flex; 
        flex-direction: column;
        text-transform: uppercase;
        font-family: $quickSandFont;
        text-align: center;
        flex: 1;
        font-size: 0.8em;
        white-space: nowrap;

        .lightLevelLight {
            margin-top: 1.2em;
        }
    }

    .lightLevelLight {
        text-align: center;
    }
}



.light {
    width: 25px;
    align-self: center;
}

.visibility {
    // padding-top: 3em;
}

.depth, .visibility {
    background-color: $darkBlue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    // padding-top: 3em;
    // padding-bottom: 3em;
    width: 50%;

    h1 {
        margin-bottom: 0.85em;
    }

    p {
        margin-bottom: 2.9em;
        width: 85%;
        text-align: center;
    }
}

.depthMeter, .visibilityMeter {
    // display: flex;
    // flex-direction: column;
    // flex: 1;
    width: 95%;
}

.depthValues, .visibilityValues {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-family: $quickSandFont;
    font-size: 0.8em;
    margin-bottom: 7px;
}


.diverLevel, .visibility, .leftText {
    border-right: 25px solid transparent;
    border-left: 25px solid transparent;
}

.depth, .current, .rightText {
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
}

.meter {
    width: 100%;
}

.lightenedMeter, .darkenedMeter {
    height: 9px;
}

.lightenedMeter, .darkenedMeter {
    // position: absolute;
    // top: 0;
}

.depthDisplay, .visibilityDisplay {
    position: relative;
    margin-top: 1em;

}

.topRow {
    display: flex;
    justify-content: center;
}

.subscribe {
    margin-left: 2em;
}

.subscribeArea {
    background-color: $darkPurple;

    // &.darkBlue {
    //     padding-bottom: 3.2em;
    // }

    input {
        padding-left: 10px;
        height: 30px;
        font-family: $quickSandFont;
        width: 30%;
    }

    input::placeholder, ::-webkit-input-placeholder, ::-ms-input-placeholder, ::-ms-input-placeholder {
        color: black;
    }

    p {
        width: 60%;
        margin: auto;
        margin-bottom: 0.5em;
    }



}

#locationsMap {
    display: block;
    margin: auto;
    margin-bottom: -5px; /* Try and get rid of this */
    margin-top: 2.5em;
    width: 15em;
}

.locationsMapContainer {
    position: relative;
    text-align: center;
}

.locationsMapInlineContainer {
    display: inline-block;
    position: relative;
}

img.mapDot {
    position: absolute;
    width: 18px;
}

.mapDot:nth-child(2) {
    left: -11%;
    top: 19%;
}

.mapDot:nth-child(3) {
    left: -10%;
    top: 45%;
}

.mapDot:nth-child(4) {
    left: -30%;
    top: 69%;
}

.mapDot:nth-child(5) {
    left: 51%;
    top: 19%;
}

.mapDot:nth-child(6) {
    left: 92%;
    top: 40%;
}

.mainImage {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    font-family: 'object-fit: contain;';
    position: absolute;
    top: 0;
}

.darkBlue {
    background-color: $darkBlue;
}

.diverRating {
    background-color: $darkBlue;
    padding-left: 10em;
    padding-right: 10em;
    h1 {
        text-align: center;
        color: white;
        
        &.mainHeader {
            // padding: 1.5em;
        }
    }


    p {
        color: white;
        text-align: center;
        margin-top: 1.5em;
    }

    .buttonContainer {
        text-align: center;

        .btn {
            margin: 2em;
            margin-bottom: 5em;
        }
    }
}

.mainImageContainer {
    margin: 3em;
    padding-top: 48%;
    position: relative;
    margin-bottom: 0;
}

.smallImagePadding {
    padding-top: 100%;
}

.formImageContainer {
    height: 100%;
}

.formBanner {
    // height: 30%;
    height: 12em;
}

.formHeader {
    // height: 25%;
}

p.standardSectionText.contactFormText {
    width: 70%;
    font-size: 0.8em;
}

.contactFormOverlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    z-index: 105;

    .formDiv {
        font-family: $quickSandFont;
        z-index: 10;
        background-color: white;
        margin: auto;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        // width: 40em;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        height: 95%;
        // max-width: 600px;
        width: 70%;
        min-width: 320px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            font-family: 'object-fit: contain;';
            display: block;
        }

        .fieldContainer {
            width: 100%;
            margin: 0.5em;
        }

        .fieldRow {
            display: flex;
        }

        label {
            display: block;
            margin-bottom: 0.5em;
        }

        textarea {
            width: 100%;
            height: 12em;
        }
    
        .formHeader {
            position: relative;
        }

        .formHeaderDarkener {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: black;
            opacity: 0.5;
        }

        .formHeaderCentral {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
            z-index: 1;

            h1 {
                text-align: center;
                color: white;
            }
        }

        .closeButton {
            position: absolute;
            top: 0;
            left: 100%; // Set to 0 for left side
            margin: 10px;
            z-index: 100;
            transform: translateX(calc(-100% - 25px));
        
            &.leftSideForMac {
                transform: unset;
                left: 0;
            }
        }

        

        .submitFormRow {
            text-align: center;
        }
    }
}

.opacityOverlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.4;
}

.islandArticle {
    .articleImage {
        width: 50%;
        background-color: red;
        float: left;

        img {
            display: block;
            width: 100%;
        }
    }

    .articleText {
        width: 50%;
        float: left;
        padding: 2em;

        p {
            margin-bottom: 2em;
            font-family: $quickSandFont;
        }
    }
}
/* Standard header */
.standardHeaderContainer {
    .heading {

        .content {
            z-index: 101;
        }

        .opacityOverlay {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: 100;
        }

        .headingImg {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            object-fit: cover;
            font-family: 'object-fit: contain;';
        }
    }

    .pageHeadingContent {
        background-color: transparent;
        
        .btn {
            margin-top: 1.5em;
        }
    }
}
/* End standard header */


#leftCanvas {
    width: 55%;
}

#rightCanvas {
    width: 55%;
    margin-left: -8.5%;
}

.container {
    white-space: nowrap;
    overflow: hidden;
    font-size: 0;
    position: relative;
}

.content {
    pointer-events: none;
}

.eventOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.greatLocationsText {
    width: 50%;
    margin: auto;
}

.controlsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}



@media only screen and (max-width: 1430px) {

    .database {
        section {
            margin-left: 8em !important;
        
            p.standardSectionText {
                width: 85% !important;
            }
        }
    }

    .explore {
        section {
            margin-right: 8em !important;

            p.standardSectionText {
                width: 85% !important;
            }
        }  
    }
}

@media only screen and (max-width: 1500px) {
    .diverLevel, .visibility, .depth, .current {
        width: 50% !important;
    }

    .contactFormText {
        width: 90% !important;
    }



    
}


@media only screen and (max-width: 1380px) {
    .diverRatingMock {
        padding-left: 5em !important;
        padding-right: 5em !important;
    }
}

@media only screen and (max-width : 1250px) {
    .database {
        section {
            margin-left: 4em !important;
        
            p.standardSectionText {
                width: 85% !important;
            }
        }
    }

    .explore {
        section {
            margin-right: 4em !important;

            p.standardSectionText {
                width: 85% !important;
            }
        }  
    }
    
    
    
    
    
    .standardCenteredSection {
        p {
            width: 75%;
        }
    }

    footer .top {
        margin-left: 4em;
    }

    footer .right {
        margin-right: 4em;
    }

    footer .createdBy {
        // margin-left: 4em;
    }
}


@media only screen and (max-width : 1300px) {
    .siteTextOverlay {
        h1.largeHeader {
            // font-size: 1.6em;
        }
    }


    .location {
        margin-left: 5.5em;
        margin-right: 5.5em;
    }


}


@media only screen and (max-width: 870px) {
    .statCol1 {
        width: 90% !important;
    }

    .depthMeter, .visibilityMeter {
        width: 100%;
    }
}

@media only screen and (min-width: 1024px) {
    
  
    .mobile-menu {
        display: none !important;
        
    }

    .mainNav {
        background-color: transparent !important;
    }


}


// We also want to kick in the stacked header pages
.stackedHeaderImages {

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

}

.singleViewHeading {
    display: none;
}

.singleViewHeading, .doubleViewHeading {
    color: white;
}

.mainNav {
    position: relative;
}

/* Tablet */
@media only screen and (max-width : 1024px) {

    .formHeaderText {
        font-size: 1.4em !important;
    }

    img.logo {
        margin-left: 20px !important;
    }

    .navFixed {
        position: relative !important;
    }


    .dotsContainer {
        display: none !important;
    }

    section.searchPrompt {
        p {
            width: 90%;
        }
    }

    #searchButton {
        margin-top: 0.5em;
    }
    
    .diverRatingMock {
        padding-left: 1.5em !important;
        padding-right: 1.5em !important;
    }

    .singleViewHeading {
        display: block;
    }

    .singleViewHeading article {
        position: initial;
        transform: none;
    }


    // Once we hit the tablet size, hide the double view of the home page header
    .doubleViewHeading {
        display: none;
    }

    .videoContainer {
        width: 100% !important;
    }



    .hamburger {
        display: block !important;
        z-index: 1;
    }

    .mainNav {
        position: relative;
    }

    ul.menu {
        display: none;
    }

    .mobile-menu {
        padding: 0;
        margin: 0;
        list-style-type: none;
        
    }

    .mobile-menu li {
        padding: 0.7em 1em;
        font-size: 2.3em;
        text-align: center;
        display: block !important;
    }

    .mobile-menu-submenu {
        display: block !important;
        position: relative !important;
    
        
        .mobile-submenu-item {
            padding-top: 0;
            font-size: 1em;
        }
    }



    .controlsContainer {
        flex-direction: column;
        width: 80%;
        input, .selectdiv, .ui-selectmenu-button.ui-button {
            margin: 0.5em;
            width: 50% !important;
        }

        .btn {
            width: 100%;
            margin-top: 1.5em;
        }
    }

    footer {
        padding-left: 0;
        padding-right: 0;

        .top, .right {
            margin-left: 4em;
            margin-right: 4em;
        }
    }


    .diveSites {
        .site {
            width: 50%;
            // padding-top: 37.49%;
        }

    }

    .bestDiveSpots p {
        width: 80%;
    }

    .buttonContainer {
        width: 100%;
    }

    #mapContainer {
        margin: 5em;

    }

    .heading .container {
        display: none;
    }

    .heading .content.homePage {
        position: relative;
        background-color: $darkBlue;
    }

    .heading article {
        // margin-top: 4em;
    }

    .heading .content .articles {
        // padding-bottom: 4em;
    }

    .tabletPair {
        width: 100%;
    }


 

}

.diverLevel, .current, .depth, .visibility {
    // padding-bottom: 0;
    // padding-top: 3em;
    // padding-bottom: 3em;
    // margin-bottom: 0;

    // height: 26em;
}


@media only screen and (max-width : 950px) {
    // This is ugly but kicks in to keep fields looking nice on mobile
    .contactFormGuts {
        padding-left: 0.5em !important;
        padding-right: 1.5em !important;
    }
    .formHeaderText {
        font-size: 1.2em !important;
    }

    .formBanner {
        height: 8em;
    }

    p.standardSectionText.contactFormText {
        font-size: 0.7em;
    }
    
    .branding {
        // width: 57%;
    }

    img.logo {
        width: unset;
        
    }


    .contactFormOverlay .formDiv .fieldRow {
        flex-direction: column;
    }

    .fieldContainer  {
        margin: 0 !important;
    }

    .fieldRow {
        padding: 0.5em;
    }

    #phoneField {
        width: 100% !important;
    }
    
    .hiddenPlus {
        left: 50% !important;
        top: 50% !important;
        padding: 0 !important;
        transform: translateY(-50%) translateX(-50%) !important;
        pointer-events: none;
        display: block !important;
        height: 30% !important;
        width: 30% !important;
        opacity: 0.5;

    }


    .statCol1 {
        margin-left: 1em !important;
        margin-right: 1em !important;
    }

   
    
    
    
    
    .mainImageContainer {
        margin: 0 !important;
    }
    
    .location {
        margin: 0 !important;
    }
    
    .smallImages {
        margin: 0 !important;
        
        .smallImage {
            width: 33.33% !important;
        }
    }
    
    


    .fullerBackgroundGradient {
        display:none;
    }







    
    .menuGradient {
        height: 90px !important;
        background: linear-gradient(rgba(0, 0, 0, 0.5), transparent) !important;
    }
    
    footer {
        p.standardSectionText, .right {
            display: none;
        }
    }

    footer .createdBy {
        padding-left: 0;
    }

    .footerContent {
        flex-direction: column-reverse;
    }

    footer .right .findOutMore {
        display: block;
        text-align: center;
    }

    footer .left, footer .right {
        margin: auto;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    footer input {
        width: 100%;
        text-align: center;
    }

    footer .top {
        margin-left: 0;
        margin-right: 0;
        text-align: center;
    }

    .createdBy {
        text-align: center;
    }

    footer .createdBy {
        margin-left: 0;
    }

    footer #trademark {
        margin-top: 3em;
    }


    .standardCenteredSection {
        p {
            width: 100%;
        }
    }
    
    div.virtualTourContainer {
        height: 26em;
    }
    
    .topRow {
        flex-direction: column;
        align-items: center;
    }

    p.standardSectionText.statDesc {
        width: 100% !important;
    }

    .depth, .visibility, .current, .diverLevel {
        width: 100% !important;
        padding-left: 0;
        padding-right: 0;
        padding-top: 3.3em;
    }

    .diverRating {
        padding-left: 1em;
        padding-right: 1em;
    }

    .location {
        margin-left: 2em;
        margin-right: 2em;
    }

    .depth, .visibility {
        // margin-top: -18px;
    }

    .diverLevel, .current, .depth, .visibility {
        // padding-bottom: 0;
        // padding-top: 3em;
        // padding-bottom: 3em;
        // margin-bottom: 0;

        height: 26em;
        flex-direction: column;

    }

    .diverRating h1.mainHeader {
        // padding-bottom: 0.2em;
        // margin-bottom: 0 !important;
    }

    .diverLevel, .depth, .visibility, .current {
        h1 {
            // margin-bottom: 0 !important;
        }
      //  background-color: yellow;
    }

    .depth {
     //   background-color: red;
    }



}


@media only screen and (max-width : 850px) {
    
    #locationsMap {
        width: 13em;
    }

    footer .createdBy {
        padding-left: 0;
    }

    .footerContent {
        flex-direction: column-reverse;
    }

    footer .right .findOutMore {
        display: block;
        text-align: center;
    }

    footer .left, footer .right {
        margin: auto;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    footer input {
        width: 100%;
        text-align: center;
    }

    footer .top {
        margin-left: 0;
        margin-right: 0;
        text-align: center;
    }

    .createdBy {
        text-align: center;
    }

    footer .createdBy {
        margin-left: 0;
    }

    .heading .content .articles {
        flex-direction: column;
    }

  


}

@media only screen and (max-width : 650px) {
    #locationsMap {
        width: 11em;
    }
}

/* Phones and things */
@media only screen and (max-width : 750px) {
    .databaseAndExplore {
        flex-direction: column;
        
        section.database, section.explore {
            section {
                margin: auto;
                text-align: center;
                margin-top: 2.5em;
            }
        }
    }

    #mapContainer {
        display: none;

    }

    .database {
        section {
            margin-left: auto !important;
        
            p.standardSectionText {
                width: 100% !important;
            }
        }
    }

    .explore {
        section {
            margin-right: auto !important;

            p.standardSectionText {
                width: 100% !important;
            }
        }  
    }
}

/* Phones and things */
@media only screen and (max-width : 700px) {
    .diveSites {
        .site {
            width: 100%;
        }
    }

    .bestDiveSpots p {
        width: 100%;
    }

    .tabletPair {
        align-items: center;
        flex-direction: column;
    }

    .controlsContainer {
        .btn {
            width: 100%;
        }

        .ui-selectmenu-button.ui-button, input {
            width: 100% !important;
        }
    }

    .location {
        margin-left: 0.7em;
        margin-right: 0.7em;
    }
}

@media only screen and (max-width: 600px) {
    .formHeaderText {
        font-size: 1em !important;
    }
}





// Virtual Tour
iframe {
    width: 100%;
    height: 100%;
    display: block;

}

#mapContainer iframe{
	width: 100%;
	display: block;
	pointer-events: none;
	position: relative; /* IE needs a position other than static */
}
#mapContainer iframe.clicked{
	pointer-events: auto;
}

.largeHeader.tourHeader {
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 1;
    margin-top: 1.9em;
    color: white;
}

.tabletPair {
    display: flex;
}


@keyframes growShrink { 0% {
    transform: scale(1);
  }
  50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

.grow {
    animation-name: growShrink;
    animation-duration: 1s;
}

.ourRating {
    margin: 4em;
    h1 {
        text-align: center;
    }

    
}

.ratingComment {
    p {
        text-align: center;
        margin-top: 1em;
    }
    text-align: center;

    .btn {
        margin: 1em;
        margin-left: 0.5em;
        margin-right: 0.5em;
    }
}

#street-view {
    height: 100vh;
    
}



.virtualTourContainer {
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
    width: 85%;
    height: 45em;
    margin: auto;
    margin-top: 5em;
    margin-bottom: 5em;
}


.streetViewOverlay, .mouseUpOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: all;
    opacity: 0;
}

.streetViewOverlayClicked {
    pointer-events: none;
}


.subscribeArea {
    padding-top: 3.2em;
    padding-bottom: 3.2em;
    background-color: $darkPurple;
    text-align: center;
    color: white;
    
    p {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .subscribeControls {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.centeredTextAndHeader {
    text-align: center;
    margin: 6em;

    .standardSectionText {
        width: 60%;
        margin: auto;
        margin-top: 2em;
    }
}

.diverRatingMock {
    .standardSectionText {
        margin: auto;
        margin-top: 0;
        width: 55%;
    }

    h1.mainHeader {
        padding-bottom: 0.7em;
    }
}

p.standardSectionText.statDesc {
    width: 100%;
}

.search {
    background-color: $darkBlue;
    color: white;
    text-align: center;
}

.exp {
    display: flex;
    flex-wrap: wrap;
}

.item {
    width: 33.33%;

}

.paddingTrick {
    padding-top: 75%;
}



/* ----------------- Hamburger Menu ------- */
.hamburger .line {
    width: 40px;
    height: 4px;
    display: block;
    background-color: white;
    margin: 6px auto;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;

}

.hamburger.is-active .line:nth-child(2) {
    opacity: 0;
}

.hamburger.is-active .line:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

.hamburger.is-active .line:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}

.hamburger {
    padding-right: 20px;
}

.hamburger {
    cursor: pointer;
}

.hamburger {
    display: none;
}

.mobile-menu li a, .desktop-menu li a {
    text-decoration: none;
    color: white;
    font-family: Quicksand;
    
}

.mobile-menu {
    transition: opacity 0.2s;
}

.mainNav.mobile-menu-open {
    position: fixed !important;

    .mobile-menu {
        background-color: $darkBlue;
    }
}

.mobile-menu {
    color: white;
    position: fixed;
    top: 0;
    padding-top: 64px;
    width: 100%;
    font-size: 1em;
    height: 100vh;
}



.displayed {
    display: block;
    color: white;
    position: fixed;
    width: 100%;
    z-index: 1;
    font-size: 1em;
    height: 100vh;
}

.forwardAnimation {
    animation: anim 0.2s;
}

.reverseAnimation {
    animation: anim 0.2s reverse;
}

.mobile-menu-submenu a {
    font-size: 0.7em;
}

.mainNav {
    height: 64px !important;
    transition: background-color 1s;
    position: absolute;
}

input#searchTerm {
    margin-right: 0.5em;
    border: none;
    border-radius: 0;
    height: 30px;
}

.tabletPair {
    align-items: center;
}

.searchControls form input {
    // padding: 5px;
    padding-left: 10px;
}

a#searchButton {
    margin-left: 0.5em;
}

.fullOpacity {
    opacity: 1 !important;
    pointer-events: all !important;
}

.icon {
    display: inline-block;
    font-size: 1.65em;
    margin-left: 0.1em;
    margin-right: 0.1em;
}


.smallImage:after {
    content: '\A';
    position: absolute;
    width: 100%; 
    height: 100%;
    top: 0; 
    left: 0;
    background:rgba(0, 0, 0, 0);
    opacity: 1;
    transition: background-color 0.25s;
    -webkit-transition: background-color 0.25s;
    pointer-events: none;
}

.smallImage:hover:after {
    background:rgba(0, 0, 0, 0.4);
}

.hiddenPlus {
    position: absolute;
    top: 7px;
    left: calc(100% - 7px);
    transform: translateX(-100%);
    z-index: 1;
    color: white;
    padding-right: 0.5em;
    padding-top: 0.5em;
    display: none;
    color: rgba(255, 255, 255, 0.7);
    height: 24px;
    width: 24px;
}

img.hiddenPlusImage {
    display: block;
}

.smallImage:hover {
    .hiddenPlus {
        display: block;
    }
}

nav {
   // position: fixed;
}


.menuGradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
    z-index: 1;
    transition: 1s background-color;
    pointer-events: none;

}

.fullerBackgroundGradient {
    background: linear-gradient(rgba(0.4, 0, 0, 0.6), rgba(0, 0, 0, 0));
    height: 165px;
    position: fixed;
}

.videoOverlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    // background-color: red;
    // opacity: 0.5;
    transition: all .1s ease-in-out;
    pointer-events: none;
    cursor: pointer;
}

.videoContainer {
    display: inline-block;
    width: 70%;
    position: relative;
}

.videoArrow {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translateX(-50%) translateY(-50%);
    width: 7.5%;

}

video:hover {
    &+.videoOverlay {
        transform: scale(1.1);
    }
}

/* !important is ugly but overrides 3rd party do dahs */
.slick-prev {
    left: 15px !important;
}

.slick-next {
    right: 15px !important;
}

.videoImage {
    width: 100%;
}

.slickSlider {
    clear: both;
}




.diveSiteHeading article {
    flex-direction: column;
}

.slick-slider {
    overflow: hidden;
    z-index: 2;
    height: 100vh;
}

.slick-prev, .slick-next {
    z-index:999;
}

.statCol1 {
    display: flex;
    flex-direction: column;
    width: 35%;
    margin-left: 4em;
    margin-right: 4em;
}

.diverStatsHeader {
    padding: 4.5em;

    h2 {
        font-size: 2em;
    }
}

.lightLevel {
    display: inline-block;
    font-family: Quicksand;
    text-transform: uppercase;
    font-size: 0.7em;
    width: 20%;
    white-space: nowrap;
}

.lightLevelLight {
    text-align: center;
    margin-top: 1em;
 
}

.lightLevels {
    display: flex;
    justify-content: space-around;
    /* width: 80%; */
    margin: auto;
}

.lightLabel {
    text-align: center;
}

.statHeader {
    padding: 0;
    margin: 0;
    
    text-align: center;
}

.headerRow1 {
    display: flex;
    flex-wrap: wrap;
    color: white;
    background-color: rgba(23, 18, 62, 1); /* dark blue */
    justify-content: center;
    padding-bottom: 4.5em;
}

.lightLevelContainer, .depthMeter, .visibilityMeter {
    height: 4em;
}

img.meter.lightenedMeter {
    display: block;
    margin-top: -13px;
}

.statisticDescription {
    text-align: center;
    margin-top: 1em;
}

.statHeader {
    margin-top: 1.8em !important;
    margin-bottom: 1.8em !important;
}

.statsPrompt {
    text-align: center;
    padding-bottom: 4.5em;
}
 
section.actualDiverStats {
        padding-bottom: 0;
}

section.searchPrompt {
    padding-top: 1.5em;
}



.slideContainerOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40%;
    // background-color: red;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    z-index: 0;
}

// This was screwing with the width on the dive hub page
.articleFourtyPercent .clickThrough {
    // width: 40%;
}

.headerImages {
    font-size: 0;
    height: 100vh;
    overflow: hidden;
}

.headerImage {
    height: 100%;
    width: 100%;
    transition: 0.25s transform; 
    object-fit: cover;
    font-family: 'object-fit: contain;';
}

.headerImage:hover {
    transform: scale(1.1); 
}

.hoverImageContainer {
    height: 100%;
    width: 50%;
    display: inline-block;
    font-size: 0;
    position: relative;
    overflow: hidden;
}

.hoverImageContainer:after {
    content: '\A';
    position: absolute;
    width: 100%; 
    height: 100%;
    top: 0; 
    left: 0;
    background:rgba(0, 0, 0, 0);
    opacity: 1;
    transition: background-color 0.25s;
    -webkit-transition: background-color 0.25s;
    pointer-events: none;
}

.hoverImageContainer:not(.ignoreHover):hover:after {
    background:rgba(0, 0, 0, 0.4);
}

.articleCentered article {
    position: relative;
    transform: none;
    top: unset;
    left: unset;

    p {
        width: 60%;
        margin: auto;
    }
}

article {
    font-size: initial;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    pointer-events: none;
    z-index: 1;
    margin-left: 1em;
    margin-right: 1em;
}

.navContainer {
    font-size: initial;
}

.killPadding {
    padding: 0;
}

.killMarginTop {
    margin-top: 0 !important;
}

.subscribe {
    margin-left: 1em !important;
}

.subscribeControlsContainer {
    display: flex;
    justify-content: center;
    align-content: center;

    input {
        min-width: 10em !important;
    }
}

.standardCenteredSection {
    padding-left: 1em;
    padding-right: 1em;
}

article.islandArticle {
    position: relative;
    transform: none;
}




.ui-selectmenu-button.ui-button {
    background-color: white;
    margin-left: 0.5em;
    margin-right: 0.5em;
    height: 30px;
    font-family: Quicksand;
    border: none;
}

.ui-menu-item-wrapper {
    font-family: Quicksand;
}

.ui-selectmenu-button.ui-button {
    width: unset !important;
    background-color: white !important;
    color: black !important;
    border: none !important;
    
}

::selection {
    background: $lightRed;
    
  }


  img.logo:hover {
      opacity: 0.75;
  }


#islandsDropdown {
    &+ul {
     //   height: 0px;
     //   overflow: hidden;
     //   transition: height 1s;
    }
}

#islandsDropdown:hover {
//    background-color: red;

    &+ul {
 
        #menuCarat {
            opacity: 1;
        }
 
        //  display: block;
 
 
      //  height: unset;
      //  height: 10em;
      //  background-color: red;
    }
}

#menuCarat {
    // visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
}

// <i class="fas fa-angle-down"></i>

.fa-angle-down {
    border: none !important;

}

.menu a {
    transition: all 0.5s;
}

.menu a:hover {
    opacity: 0.75;
}

.stackedHeaderImages {
    padding-top: 64px;
}

img.meter.lightenedMeter {
    width: 0;
    transition: width 2s;
}

.formField {
    input {
        width: 100%;
        border: 1px solid rgb(220, 220, 220);
        height: 2em;
        padding-left: 12px;
    }

    textarea {
        border: 1px solid rgb(220, 220, 220);
    }

}

i.fa-times {
    font-size: 1.3em;
    opacity: 0.8;
    cursor: pointer;
}

i.fa-times:hover {
    font-size: 1.5em;
    opacity: 1;
}

.closeButton {
    cursor: pointer;

}

#phoneField {
    width: calc(50% - 0.5em);
}

.standardHeaderContainer {
    position: relative;

    .standardHeaderOverlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        // background-color: green;
        z-index: 1;
    }
}

.standardHeaderOverlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    // background-color: green;
    z-index: 1;
}

header {
    position: relative;
}

.headerWithStars {
    padding-bottom: 0;

    
}

.headerWithStars+.stars {
    margin-top: 0;
    margin-bottom: 2em;

    .star {
        margin: 0.2em;
    }
}

.homepageBottomArticle {
    padding-bottom: 3em;
}

.homepageTopArticle {
    padding-top: 3em;
}



.diverStatsHeader {
    h2.mediumHeader {
        color: white;
    }
}

.slideContainer{
    position: relative; // Necessary? Will it break?
    height: 100vh;
    display: flex !important;
    flex-direction: column !important;

    h2 {
        color: white;
    }
}

.imageContainer {
    position: relative;
    font-size: 0;
    flex-grow: 1;
    display: flex;

    img {
        display: block;
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
        font-family: 'object-fit: contain;';
    }

    .imageTextOverlay {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    
}

.slideDetails {
    text-align: center;

    h1, p {
        text-align: center;
    }
}

.greatPlacesSection {
    padding-bottom: 0;

    p {
        margin-bottom: 0;
    }
}

img.logo {
    width: unset;
    margin-left: 5em;
    opacity: 1;
    transition: all 0.5s;
    display:block;
    height: 1.6em;
}


.mobile-menu {
    background-color: $darkBlue;
    opacity: 0;
    pointer-events: none;
    // animation: anim 0.2s;
}



@keyframes anim {
    0% {
      display: none;
      opacity: 0;
    }
    1% {
      display: block;
      opacity: 0;
      //transform: scale(0);
    }
    100% {
      opacity: 1;
      //transform: scale(1);
    }
  }



.contactFormGuts {
    flex: 1;
    overflow: hidden;
    overflow-y: scroll;
    width: calc(100% + 17px);
    padding-left: 7em;
    padding-right: 7em;
}




.mobile-menu {
    //transition: background-color 1s !important;

}

.closeButton {
    color: white;
}

@media only screen and (max-width: 650px) {
    .contactFormText {
        width: 100% !important;
        margin-bottom: 0 !important;
        padding-bottom: 0;
    }
}

@media only screen and (max-width: 400px) {
    .formHeader .standardCenteredSection {
        padding: 0.5em;
    }
}

.adminForm {
    background-color: $darkBlue;
    color: white;
    width: 30%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

input[type=file] {
    display: inline-block !important;
    color: white !important;
}

label.fieldLabel {
    width: 40%;
}

.fieldRow {
    display: flex;
    padding: 0.3em;
    align-items: center;
}

.customSelectBox {
    width: 100%;
}

.selectBoxLabelContainer {
    flex: 1;
}

.adminForm input {
    flex: 1;
    color: black;
}

.adminForm .selectBoxLabelContainer, label {
    margin-bottom: 0 !important;
}

.adminForm {
    .ui-selectmenu-button.ui-button {
        width: 100% !important;
        margin: 0;
    }

    input[type=text] {
        height: 30px;
    }

    .checkboxAndLabel {
        display: flex;
        align-items: center;
        width: 100%;
        input {
            width: 50px;
        }
    }

    label.checkboxLabel {
        width: 80%;
    }
}

footer {
    background: linear-gradient(270deg, #246655, #0bc1b2);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 10s ease infinite;
    -moz-animation: AnimationName 10s ease infinite;
    animation: AnimationName 10s ease infinite;

    @-webkit-keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }

    @-moz-keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }

    @keyframes AnimationName { 
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }

    .footerContent {
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .bottom {
            margin-top: 0.8em;
            text-align: center;
        
            span.conceptai {
                font-weight: bold;
            }
        }
    }
}
